body {
	border: 5px solid blue;
	border-radius: 26px;
	margin-right: 25%;
	margin-left: 25%;
	padding: 15px 32px;
text-align: center;
}
h1
{
	color: blue;
}
button 
{
	width: 300px;
	border: 2px blue;
	border-radius: 26px;
	background-color: white;
	height: 60px;
	margin-top: 5px;
}
button:hover
{
	background-color: blue;
	color: darkgrey;
	border: 2px solid skyblue;
	transform: rotate(5deg);
	box-shadow: 25px;
	cursor: pointer;
}
input
{
	width: 350px;
	height: 25px;
	border-radius: 26px;
	background-color: skyblue;
}