body {
	border: 5px solid red;
	border-radius: 26px;
	margin-right: 25%;
	margin-left: 25%;
	padding: 15px 32px;
text-align: center;
}
h1
{
	color: darkred;
}
button 
{
	width: 300px;
	border: 2px solid red;
	border-radius: 26px;
	background-color: darkred;
	height: 60px;
	margin-top: 5px;
}
button:hover
{
	background-color: darkred;
	color: darkgrey;
	border: 2px solid darkgrey;
	transform: rotate(5deg);
	box-shadow: 25px;
	cursor: pointer;
}
input
{
	width: 350px;
	height: 25px;
	border-radius: 26px;
	background-color: darkred;
}